<% include ../partials/header %>

	<div class="container">
		<section class="hero">
			<div class="hero-content">
				<h1>My Gallery</h1>
				<h3>A place to show your photografic skills!</h3>
			</div>
		</section>
	</div>

<% include ../partials/footer %>