<% include ./partials/header %>

	<div class="container log">
		<div class="row nok">
			<h1>Log In</h1>
		</div>
		<form action="/login" method="POST">
			<div class="row">
				<div class="col-md-5">
					
				</div>
				<div class="col-md-7">
					<div class="col-md-3">
						<input class="form-control" type="text" name="username" placeholder="username">
					</div>
					<div class="col-md-3">
						<input  class="form-control" type="password" name="password" placeholder="password">
					</div>
					<div class="col-md-1">
						<button class="btn btn-warning">Log In!</button>
					</div>
				</div>
			</div>
			
			
			
		</form>
	</div>



<% include ./partials/footer %>
